<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit a User</title>
</head>
<body>
<div th:replace="fragments :: logout_button"></div>
<h1>Edit a User</h1>
<br/><br/>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.id})}"
      th:object="${user}" >
    <table>
        <tr th:if="${user.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td><label for="firstName">First name</label></td>
            <td>:</td>
            <td><input type="text" th:field="*{firstName}" id="firstName" /></td>
        </tr>
        <tr>
            <td><label for="lastName">Second name</label></td>
            <td>:</td>
            <td><input type="text" th:field="*{lastName}" id="lastName"/></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td>:</td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <tr>
            <td><label for="username">Username</label></td>
            <td>:</td>
            <td><input type="text" th:field="*{username}" id="username"/></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>:</td>
            <td><input type="text" th:field="*{password}"  id="password"/></td>
        </tr>
        <tr>
            <td><label for="account_non_expired">Is account non expired</label></td>
            <td>:</td>
            <td><input type="checkbox" th:field="*{accountNonExpired}" id="account_non_expired"/></td>
        </tr>
        <tr>
            <td><label for="account_non_locked">Is account non locked</label></td>
            <td>:</td>
            <td><input type="checkbox" th:field="*{accountNonLocked}" id="account_non_locked"/></td>
        </tr>
        <tr>
            <td><label for="credentials_non_expired">Is credentials non expired</label></td>
            <td>:</td>
            <td><input type="checkbox" th:field="*{credentialsNonExpired}" id="credentials_non_expired"/></td>
        </tr>
        <tr>
            <td><label for="enabled">Is enabled</label></td>
            <td>:</td>
            <td><input type="checkbox" th:field="*{enabled}" id="enabled"/></td>
        </tr>
        <tr>
            <td><label for="editRoles">ROLES</label></td>
            <td>:</td>
            <td>
                <select th:field="*{roles}" id = "editRoles" name="roles" multiple size="2">
                    <option th:each="role : ${all_roles}"
                            th:value="${role}"
                            th:text="${role.name()}"></option>
                </select>
            </td>
        </tr>

    </table>
    <input type="submit" th:value="Update"/>
</form>
<br/><br/>
</body>
</html>